<div class="centered">
  <form class="form" (ngSubmit)="handlePost()">
    <label>
      <input type="text"
             name="title"
             [(ngModel)]="payloadOfPostRequest"
             placeholder="Get request body">
    </label>

    <input type="submit" value="Do Post" class="btn">

    <label>
      <input type="text"
             name="title"
             placeholder="Post Response payload"
             value="{{payloadOfPostResponse}}">
    </label>
  </form>
</div>

<div class="centered">
  <form class="form" (ngSubmit)="handleGet()">
    <input type="submit" value="Do Get" class="btn">

    <label>
      <input type="text"
             name="title"
             placeholder="Get Response payload"
             value="{{payloadOfGetResponse}}">
    </label>
  </form>
</div>
